extends layout

block content
  script(src="/javascripts/MojioClientLite.js")
  script.
    var config = {
            application: '9d917e4c-7713-4993-b1d3-78c3b9188a5e' // your application ID
        };
    mojio_client = new MojioClientLite(config);

    if(mojio_client.token())
    {
    }else{
        mojio_client.authorize();
    }
    alert('Hello')
  h1= title
  p Welcome to #{title}

